{
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
